div#root {
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: "Press Start 2P", sans-serif;
  /* Press Start 2P */
  /* 'Open Sans' */
}

body {
  background: black; /* Цвет фона */
  color: #fc0; /* Цвет текста */
  font-size: 10px; /* размер текста */
}
